@page
@model WebApp.Pages.GameOptionShips.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameOptionShip[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOptionShip[0].Ship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOptionShip[0].GameOption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameOptionShip) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOption!.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameOptionShipId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameOptionShipId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameOptionShipId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
